# =========================
# C / C++ (objetos)
# =========================
*.o
*.obj

# =========================
# Executáveis
# =========================
# Windows
*.exe

# Linux / Unix (executáveis sem extensão)
a.out

# =========================
# IDE / Editor
# =========================
.vscode/
